*{
	margin: 0 auto;
	padding: 0;
}

#wrapper{
	width: 960px;
	overflow: hidden;
}


body{
	background-color: #030A12;
}
#nav{

}
#nav ul{
	background-color: #2F2F2E;
	height: 40px;
}
#nav ul li{
	list-style-type: none;
	float: left;
	padding: 5px 10px;
}
#nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
	display: inline-block;
}
#nav ul li a:hover{
	color: #F88315;
}

#image img{
	width: 960px;
}

#projectIdeas{
	background-color: #2F2F2E;
	overflow: hidden;
	margin-top: -4px;
}
#projectIdeas h2{
	text-align: center;
	color: #C7AE48;
	font-size: 30px;
	font-weight: bold;
	margin-top: 30px;
}
#projectIdeas p{
	text-align: center;
	color: black;
	font-size: 15px;
	margin-bottom: 50px;
}
#projectIdeas .projectWrapper .projectLeftIdeas{
	width: 300px;
	float: left;
	margin-left: 150px;
	margin-right: 20px;
	margin-bottom: 50px;
}
#projectIdeas .projectWrapper .projectLeftIdeas img{
	width: 300px;
}
#projectIdeas .projectWrapper .projectLeftIdeas p{
	color: white;
	text-align: justify;
	margin-bottom: 20px;
}
#projectIdeas .projectWrapper .projectLeftIdeas .content{
	color: #919191;
}
#projectIdeas .projectWrapper .projectLeftIdeas a{
	text-decoration: none;
	font-size: 15px;
	color: #ffff;
	border: 1px solid #ffff;
	padding: 5px 15px;
	border-radius: 25px;
	margin-left: 100px;
}
#projectIdeas .projectWrapper .projectLeftIdeas a:hover{
	color: #262626;
	border: 1px solid #F4D03F;
	background-color: #F4D03F;;
}








#projectIdeas .projectWrapper .projectRightIdeas{
	width: 300px;
	float: left;
	margin-left: 20px;
	margin-bottom: 50px;
}
#projectIdeas .projectWrapper .projectRightIdeas img{
	width: 300px;
	height: 213px;
}
#projectIdeas .projectWrapper .projectRightIdeas p{
	color: white;
	text-align: justify;
	margin-bottom: 20px;
}
#projectIdeas .projectWrapper .projectRightIdeas .content{
	color: #919191;
}
#projectIdeas .projectWrapper .projectRightIdeas a{
	text-decoration: none;
	font-size: 15px;
	color: #ffff;
	border: 1px solid #ffff;
	padding: 5px 15px;
	border-radius: 25px;
	margin-left: 100px;
}
#projectIdeas .projectWrapper .projectRightIdeas a:hover{
	color: #262626;
	border: 1px solid #F4D03F;
	background-color: #F4D03F;;
}

#testimonial{
	background-image: url("img/textImage.jpg");
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
#testimonial h2{
	text-align: center;
	color: #F4D03F;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: 80px;
	margin-top: 30px;
}
#testimonial p{
	text-align: center;
	color: #f48642;
	width: 390px;
	font-size: 20px;
	position: relative;
	top: 100px;
	margin-top: 20px;
}


#services{
	background-color: #fff;
	overflow: hidden;
}
#services .leftService{
	width: 300px;
	float: left;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 50px;
}
#services .leftService h2{
	text-align: center;
	color: #3e4042;
	font-size: 30px;
}
#services .leftService p{
	text-align: justify;
	color: #3e4042;
	margin-bottom: 10px;
}
#services .leftService a{
	text-decoration: none;
	color: #edd11a;
	font-size: 15px;
	border: 1px solid #edd11a;
	border-radius: 25px;
	padding: 5px 15px;
	background-color: #3e4042;
	margin-left: 100px;
}
#services .leftService .img1{
	width: 300px;
}
#services .leftService .logo1{
	width: 50px;
	height: 50px;
	position: relative;
	left: 120px;
}






#services .middleService{
	width: 300px;
	float: left;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 50px;
}
#services .middleService h2{
	text-align: center;
	color: #3e4042;
	font-size: 30px;
}
#services .middleService p{
	text-align: justify;
	color: #3e4042;
	margin-bottom: 10px;
}
#services .middleService a{
	text-decoration: none;
	color: #edd11a;
	font-size: 15px;
	border: 1px solid #edd11a;
	border-radius: 25px;
	padding: 5px 15px;
	background-color: #3e4042;
	margin-left: 100px;
}
#services .middleService .img2{
	width: 300px;
}
#services .middleService .logo2{
	width: 50px;
	height: 50px;
	position: relative;
	left: 120px;
}






#services .rightService{
	width: 300px;
	float: right;
	margin-top: 10px;
	margin-bottom: 50px;
}
#services .rightService h2{
	text-align: center;
	color: #3e4042;
	font-size: 30px;
}
#services .rightService p{
	text-align: justify;
	color: #3e4042;
	margin-bottom: 10px;
}
#services .rightService a{
	text-decoration: none;
	color: #edd11a;
	font-size: 15px;
	border: 1px solid #edd11a;
	border-radius: 25px;
	padding: 5px 15px;
	background-color: #3e4042;
	margin-left: 100px;
}
#services .rightService .img3{
	width: 300px;
}
#services .rightService .logo3{
	width: 50px; 
	height: 50px;
	position: relative;
	left: 120px;
}


#footer{
	background-color: #222222;
	text-align: center;
	color: #FFFFFF;
	padding: 15px 0px;
}
